* {
  font-size: 24px;
  margin: 0;
  outline: none; /* remove browser default input highlights */
  padding: 0;
}

body {
  padding: 1rem;
}

li {
  font-size: 1.3rem;
}

.main-list {
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.main-list li {
  cursor: pointer;
  margin-bottom: 1rem;
}

.add-btn-long-wrapper {
  text-align: center;
}

.add-btn-long {
  background-color: #61b8ff;
  border: none;
  border-radius: 50px;
  box-shadow: 5px 5px 10px #3b6f99;
  color: #fff;
  cursor: pointer;
  height: 44px;
  margin-top: 2rem;
  transition: background-color 0.5s, box-shadow 0.2s, transform 0.2s;
  width: 180px;
}

.add-btn-long:hover {
  background-color: #66dbff;
}

.add-btn-long:active {
  box-shadow: 2px 2px 10px #3b6f99;
  transform: translateY(3px);
}
